





<div class="container">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="lname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" value="{{employee.name}}" placeholder="First Name">
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Lastname</label>
      </div>
      <div class="col-75">
        <input id="lastname" type="text" name="lastname" value="{{employee.lastname}}"  placeholder="Last name">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit" (click)="updateEmployee()">
    </div>
  </form>
</div>

